<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true">

       <appender name="console" class="org.apache.log4j.ConsoleAppender">
              <layout class="org.apache.log4j.PatternLayout">
                     <param name="ConversionPattern"
                            value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
              </layout>
       </appender>

       <appender name="file" class="org.apache.log4j.RollingFileAppender">
              <param name="append" value="true" />
              <param name="maxFileSize" value="1MB" />
              <param name="maxBackupIndex" value="10" />
              <param name="file" value="test.log" />
              <layout class="org.apache.log4j.PatternLayout">
                     <param name="ConversionPattern"
                            value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
              </layout>
       </appender>

       <appender name="myFile" class="org.apache.log4j.RollingFileAppender">
              <param name="append" value="true" />
              <param name="maxFileSize" value="1MB" />
              <param name="maxBackupIndex" value="10" />
              <param name="file" value="test2.log" />
              <layout class="org.apache.log4j.PatternLayout">
                     <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
              </layout>
       </appender>

       <!--A self defined logger. It is used to output into a separate file. By default, additivity is true.
       If additivity=true, sub logger will append to root logger.
       If additivity=false, sub logger won't append to root logger.
       -->
       <logger name="logger2" additivity="true">
              <level value="INFO" />
              <appender-ref ref="myFile" />
       </logger>

       <root>
              <level value="DEBUG" />
              <appender-ref ref="console" />
              <appender-ref ref="file" />
       </root>

</log4j:configuration>